:root {
  --mainColor: #00FFFF;
}

.margin-bottom_10
{
	margin:10px 0px; 	
	font-weight: bold;
}

img.img25px
{
	width:25px;
}

img.img100px
{
	width:100px;
}


img.img350px
{
	width:350px;
}

.mSecondLay
{
	padding:25px;
}


/* tentang.php */
.iBannerTxt
{	
	font-weight: bold;
	font-size:25px;
}

/* end tentang.php */

.navbar-nav li
{
	padding:0px 10px;
}

.padding_0
{
	padding:0px 0px 0px 0px!important;
}

img.mBannerimg
{
	max-width:100%;
	margin:auto;
	display:block;
}

.padding_lay
{
	padding:30px 0px;
}

h3.sHeading
{
	font-size:40px;
}

h2.hText
{
	text-align:center;
	font-size:40px;
	font-family:RalewaySB;
	color:#A9A9A9;
}

.bg-logo
{
	background-color:#81a5ba;
}

.bgcwhite
{
	background-color:white;
}




/* User Index.php */
.navbarleft a {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

.navbarleft a:hover {
  background-size: 4px 50px;
}


/* End User Index.php */


.oscroll {
  width: 100%;
  height: 400px;
  overflow: scroll;
}



