@font-face {
  font-family: Raleway;
  src: url(../../assets/font/Raleway/Raleway-Medium.ttf);
}

@font-face {
  font-family: Archivo_Black;
  src: url(../../assets/font/Archivo_Black/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: RalewaySB;
  src: url(../../assets/font/Raleway/Raleway-SemiBold.ttf);
}




.wFont
{
	color:white;
}

.wfont a
{
	color:white;
}
