/* start 1200 */
@media screen and (max-width: 1200px){

	img.navbartopimg
	{
		max-width:125px;
	}

/* Font Size */
.navbarleft
{
	font-size:10px;
}

/* End FOnt Size */

}

/* end 1200 */


/* start 992 */
@media screen and (max-width: 992px){

/* Image */

	img.cblogo{
		max-width: 40px;
	}

/* End Image */	


/* padding */

	.scbLogin
	{
		padding-top:0px;
	}

	.navbar-brand
	{
		padding-left:0px;
	}

	.sContact
	{
		padding: 10px 0px;
	}

	.iSLider
	{
		padding-top:50px;
	}


	.iBanner
	{
		padding-top:50px;
	}

	.cbLogin
	{
		padding-top:50px;
	}

	.navbar
	{
		padding:0px 18px !important;
	}

/* End Padding*/




/* Box Shadow*/

	.lWrapper
	{
		box-shadow: 0px 0px 0px;
	}
	
/* End Box Shadow*/



/* Display */

.hResponsive  
	{
		display:none;
	}
	
.navbartop
	{
		display:none;
	}
.navbarleft
	{
		display:none;
	}
.hidden992
{
	display:none;
}
/* End Display */




/* Margin */

	.margin-bottom_10
	{
		margin:0px 0px; 	
	}
	.mainright
	{
		margin-top:40px;
	}
	
/* End Margin*/

/* h1 h2 h3 h4*/

	h3.sHeading
	{
		font-size:30px;
	}

	h2.hText
	{
		font-size:30px;
		text-align:left;
	}

/* ENd h1 h2 h3 h4*/


/* Width */
.mainright
	{
		width:100%;
	}
/* End Width */





}

/* end 992 */



@media screen and (min-width: 992px){
	.test1he
	{
		display:none;
	}
	{

