*
{
	font-family:Raleway;
}


.wrapper
{

}

.section
{
	width:100%;
}




/* -----------------------------------------Navbar----------------------------------------- */
.navbar
{
	box-shadow: 0px 1px 9px;
}

img.cblogo
{
	width:50px;
}

.navbar-brand
{
	padding-left:60px;
}
/* -----------------------------------------End Navbar----------------------------------------- */


/* -----------------------------------------Slider----------------------------------------- */
.iSLider
{
	padding-top:76px;
}

.carousel-item {
  min-width:100%;
  position:relative;
}

.carousel-caption
{
	text-align:left!important;
}
/* -----------------------------------------End Slider----------------------------------------- */


/* -----------------------------------------sContact----------------------------------------- */
.sContact
{
	width:100$;
	background-color:#1f1f1f;
	padding: 50px 0px;
}
/* -----------------------------------------End sContact----------------------------------------- */


/* -----------------------------------------Footer----------------------------------------- */
.footer
{
	width:100%;
	background-color:#191919;
	text-align:center;
	padding:10px 0px;
}
/* -----------------------------------------End Footer----------------------------------------- */




/* -----------------------------------------start tentang.php----------------------------------------- */
.iBanner
{
	padding-top:76px;
	width:100%;
	background-color:#81a5ba;
}

.iBannerTxt
{
	font-family:Archivo_Black;
}

/* -----------------------------------------end tentang.php----------------------------------------- */




/* -----------------------------------------start Kontak.php----------------------------------------- */
.lmpKontak
{
	width:100%;
}

.lmplogo
{
	width:25%;
	float:left;
}

.lmpisi
{
	width:75%;
	float:right;
}


/* -----------------------------------------end Kontak.php----------------------------------------- */




/* -----------------------------------------start Masuk.php----------------------------------------- */
.lWrapper
{
	box-shadow: 0px 1px 9px;
}

.scbLogin
{
	padding-top:70px;
}

.cblogin
{
	padding-top:76px;
}


/* -----------------------------------------end Masuk.php----------------------------------------- */


/* -----------------------------------------start Daftar.php----------------------------------------- */

.scbDaftar
{
	
}

/* -----------------------------------------end Daftar.php----------------------------------------- */