body
{
	background-color:green;
}

body
{
	background-color:#f8f8f8!important;
}

.wrapper
{

}

.nLeft
{
	width:15%;
	background-color:green;
	float:left;
	height:45px;
	padding-left:15px;
}

.nRight
{
	width:85%;

	float:right;
	height:45px;
	padding:3px 10px;
	background-color:white;
}


.navbarleft
{
	float:left;
	width:15%;
	height:100%;
	margin-top:45px;
}
.mainright
{
	float:right;
	width:85%;
	margin-top:45px;
}

.test1he
{
	width:100%;
	height:40px;
	background-color:blue;
}